<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="root"></div>
</body>
<script>
    import React from "react";

    function Btn(props)  {
        return (
            <button style={{
                backgroundColor: "tomato",
                color:"white",
                padding:"10px 20px",
                border : 0,
                borderRadius: 10
            }}>
                {props.banana}</button>
        )
    }

    function App(){
        return(
            <div>
                <Btn banana="Save Changes"/>
                <Btn banana="Continue"/>
            </div>
        )
    }

    const root = document.getElementById('root')
    ReactDOM.render(<App/>,root);
</script>
</html>