<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="root"></div>
</body>
<script>
    import React from "react";

    const root = document.getElementById('root')
     function App () {
         const [counter,setCounter] = React.useState(0);
         const onClick = () => {
             setCounter((current)=>current+1)
         }
         return (
             <div>
                 <h3>Total clicks : {counter}</h3>
                 <button onClick={onClick}>Click me</button>
             </div>
         )
     }
    ReactDOM.render(<App/>,root);
</script>
</html>